<div class="single-post-container">

    <p class="d-inline">
        <span class="title">{{title}}</span>
        <a href="/user/{{User.id}}"><span class="float-right author">Submitted by: {{User.email}}</span></a>
    </p>
<<<<<<< HEAD
    
    <hr>

    <p class="post-body">{{body}}</p>
=======
    <hr>
    <p class="post-body">{{body}}</p>
    {{!-- Will add upvotes/downvotes --}}
>>>>>>> 3ede721680b76bb69a45a8cf2a91b897d5a8c8a2

</div>